In [1]:
import numpy as np
import pandas as pd

In [2]:
p,f = "class.csv","zoo.csv"

In [3]:
data,classi = pd.read_csv(f),pd.read_csv(p)

In [4]:
data

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [5]:
classi

,Class_Number,Number_Of_Animal_Species_In_Class,Class_Type,Animal_Names
0,1,41,Mammal,"aardvark, antelope, bear, boar, buffalo, calf,..."
1,2,20,Bird,"chicken, crow, dove, duck, flamingo, gull, haw..."
2,3,5,Reptile,"pitviper, seasnake, slowworm, tortoise, tuatara"
3,4,13,Fish,"bass, carp, catfish, chub, dogfish, haddock, h..."
4,5,4,Amphibian,"frog, frog, newt, toad"
5,6,8,Bug,"flea, gnat, honeybee, housefly, ladybird, moth..."
6,7,10,Invertebrate,"clam, crab, crayfish, lobster, octopus, scorpi..."

In [48]:
y_verita = data['class_type'].to_numpy() ###questo Ã¨ l'array veritÃ  in base al quale confrontare i vari risultati di clustering 
print(y)

[1 1 4 1 1 1 1 4 4 1 1 2 4 7 7 7 2 1 4 1 2 2 1 2 6 5 5 1 1 1 6 1 1 2 4 1 1
 2 4 6 6 2 6 2 1 1 7 1 1 1 1 6 5 7 1 1 2 2 2 2 4 4 3 1 1 1 1 1 1 1 1 2 7 4
 1 1 3 7 2 2 3 7 4 2 1 7 4 2 6 5 3 3 4 1 1 2 1 6 1 7 2]

In [50]:
from collections import defaultdict

In [51]:
D = defaultdict(lambda:0)
for item in y_verita:
    D[item] += 1
for k,v in D.items():
    print (k,v)

1 41
4 13
2 20
7 10
6 8
5 4
3 5

# Preprocessing

In [44]:
X = data.drop(['animal_name']+['class_type'],axis=1)
###eliminiamo dal dataframe i nomi degli animali che sono una variabile categorica e la classe di appartenenza che 
###vogliamo trovare con gli algoritmi di clustering

In [52]:
from sklearn.preprocessing import MinMaxScaler

In [60]:
scaler = MinMaxScaler()
Xs = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)
###come sappiamo applicando uno scaler otteniamo un oggetto numpy, perciÃ² ricreiamo il dataframe utilizzando indici di colonna originali

In [59]:
Xs
###Come abbiamo visto il nostro dataset non contiene valori nulli e tutti gli attributi hanno valori booleani 1 o 0 
###a eccezione della colonna legs, perciÃ² ho apllicato MinMaxScaler per scalare i valori in modo che anche legs 
###assuma valori tra 0 e 1.
###A questo punto i dati sono pronti per applicare gli algoritmi di clustering

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,0.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.00,1.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,0.0,0.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.25,1.0,0.0,1.0
97,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.75,0.0,0.0,0.0
98,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
99,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0
100,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.25,1.0,0.0,0.0

# Clustering

Kmeans

In [62]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters= 7)

In [65]:
y_pred_k = kmeans.fit_predict(X)
print(y_pred_k)

[1 1 2 1 1 1 1 2 2 1 1 0 2 5 4 3 0 1 2 2 0 0 1 0 3 4 4 6 1 6 3 1 6 0 2 1 1
 0 2 3 3 0 3 0 1 1 3 1 1 1 1 3 4 3 1 1 0 0 0 0 2 2 2 1 1 1 2 1 1 1 1 0 3 2
 2 6 2 5 0 0 2 5 2 0 6 4 2 0 3 4 4 4 2 6 1 0 6 3 1 5 0]

AffinityPropagation

In [71]:
from sklearn.cluster import AffinityPropagation
affp = AffinityPropagation(damping=0.75,random_state=0)

In [72]:
y_pred_affp =affp.fit_predict(X)
print(y_pred_affp)

[2 3 0 2 2 3 3 0 0 3 2 3 0 0 2 1 3 3 0 0 3 2 3 3 1 2 2 3 3 3 1 3 3 2 0 2 2
 3 0 1 1 3 1 3 2 2 1 2 2 2 2 1 2 1 2 3 3 3 3 3 0 0 0 2 2 3 0 2 3 3 3 3 1 0
 0 3 0 0 2 2 0 0 0 3 3 1 0 3 1 2 2 2 0 3 2 3 3 1 2 0 3]